<div class="bg-primary">
  <div class="container py-4">
    <div class="d-flex align-items-center">
      <div>
        <h6 class="fw-bold">SUBSCRIBE</h6>
        <p>TO OUR NEWSLETTER</p>
      </div>
      <form class="d-flex flex-grow-1">
        <input type="email" placeholder="Enter email" class="form-control form-control-lg ms-5 me-4">
        <button class="btn btn-primary text-dark btn-lg">SUBSCRIBE</button>
      </form>
    </div>
  </div>
</div>