<div class="bg-primary p-4">
    <h5 class="text-center fw-bold">RECENT SERMONS</h5>
    <hr class="mb-4">
    <div>
      <img src="https://demo.web3canvas.com/themeforest/our-church/images/video-thumb.jpg" class="w-100 mb-4">
      <ul>
        <li class="mb-3"><a>Heavens and the earth</a></li>
        <li class="mb-3"><a>Prayer and petition</a></li>
        <li class="mb-3"><a>Fruit of the Spirit</a></li>
        <li class="mb-3"><a>Do not be afraid; keep on...</a></li>
      </ul>
      <div class="text-center">
        <a class="btn btn-primary text-dark btn-lg">VIEW MORE <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
</div>