<div class="bg-primary">
    <div class="container py-5">
        <h1 class="fw-bold">CONTACT US</h1>
        <h5>Our Church address and contact details</h5>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone</label>
                    <input class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>

                <button class="btn btn-primary text-dark btn-lg">SEND MESSAGE</button>
            </form>
        </div>
        <div class="col-md-6" id="contact-address">
            <div class="container">
                <div class="row">
                    <h5 class="fw-bold">OUR ADDRESS</h4>
                    <div class="col-md-6">
                        <p>Catholic Church</p>
                        <p>121 King Street, Melbourne</p>
                        <p>Victoria 3000 Australia</p>
                    </div>
                    <div class="col-md-6">
                        <p>Phone: +61 3 8376 6284</p>
                        <p>Fax: +61 38 376 6284</p>
                        <p>Email: mail@catholicwebsite.com</p>
                    </div>
                </div>
            </div>

            <div class="container my-4">
                <hr class="w-100" style="height: 1px !important;">
            </div>

             <div class="container">
                <div class="row">
                    <h5 class="fw-bold">ANOTHER ADDRESS</h4>
                    <div class="col-md-6">
                        <p>Catholic Church</p>
                        <p>121 King Street, Melbourne</p>
                        <p>Victoria 3000 Australia</p>
                    </div>
                    <div class="col-md-6">
                        <p>Phone: +61 3 8376 6284</p>
                        <p>Fax: +61 38 376 6284</p>
                        <p>Email: mail@catholicwebsite.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="mapouter"><div class="gmap_canvas"><iframe style="width: 100%;" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=oshundairo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:300px;width:1080px;}</style><a href="https://www.embedgooglemap.net">how to embed google map in website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100vw;}</style></div></div>
</div>

<%= render "partials/newsletter" %>