<div class="bg-primary" id="upcoming-events">
  <div class="container d-flex justify-content-between align-items-center py-4">
    <div>
      <h6 class="lh-1 fw-bold text-dark text-opacity-50">Upcoming Event</h6>
      <h4 class="lh-1 fw-bold">
        "The Law Demands, but Grace Supplies" - Paster J.P.
      </h4>
    </div>
    <a href="#" class="btn btn-primary fw-bold text-dark text-opacity-75 px-4 py-2">
      PROGRAM DETAILS
      <i class="fa-solid fa-arrow-right ms-2"></i>
    </a>
  </div>
</div>

<div class="container py-5">
  <div class="row g-5">
    <div class="col-md-4">
      <div>
        <img src="https://demo.web3canvas.com/themeforest/our-church/images/thumb-1.jpg" class="card-img">
        <div class="py-2">
          <h5 class="fw-bold">GUIDED BY THE HOLY SPIRIT</h5>
          <p>
            Experience God's Wisdom each day as you are lead by the Holy Spirit. Walk effortlessly into success and happiness and understand the Father's love for you.
          </p>
          <a href="#" class="card-btn">View details <i class="fas fa-arrow-right ms-1"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="https://demo.web3canvas.com/themeforest/our-church/images/thumb-2.jpg" class="card-img">
        <div class="py-2">
          <h5 class="fw-bold">LAW DEMANDS; GRACE SUPPLIES</h5>
          <p>
            Jesus came and fulfilled the laws, the only one who could keep the laws so that in Him we can be made righteous and not have to suffer death for our sins.
          </p>
          <a href="#" class="card-btn">View details <i class="fas fa-arrow-right ms-1"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="https://demo.web3canvas.com/themeforest/our-church/images/thumb-3.jpg" class="card-img">
        <div class="py-2">
          <h5 class="fw-bold">CHRIST OCCUPIED</h5>
          <p>
            It may sound good to Mankind to be self-occupied. But God wants you to be Christ-Occupied and receive all of your blessings through resting in the work of Jesus.
          </p>
          <a href="#" class="card-btn">View details <i class="fas fa-arrow-right ms-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div id="programs-and-events bg-primary">
  <div class="container py-5">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item w-25 active" data-bs-interval="10000">
          <div class="p-1">
            <h5>July 16</h3>
            <h5>Weekly meeting & prayer</h5>
            <p>Monday 07:00 AM</p>
            <a class="btn btn-primary">Details <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="p-1">
            <h5>July 16</h3>
            <h5>Weekly meeting & prayer</h5>
            <p>Monday 07:00 AM</p>
            <a class="btn btn-primary">Details <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="p-1">
            <h5>July 16</h3>
            <h5>Weekly meeting & prayer</h5>
            <p>Monday 07:00 AM</p>
            <a class="btn btn-primary">Details <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
-->

<div class="container-fluid bg-primary py-5" id="programs-and-events">
  <h4 class="fw-bold text-center text-dark">PROGRAMS & EVENTS</h4>
  <hr class="mb-5">
  <div class="container">
    <div class="owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage">
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 14</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 15</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 16</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 17</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 18</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 19</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="owl-item text-center">
            <h5 class="fw-bold">OCT 20</h5>
            <hr class="my-0 mb-2">
            <h6>God's irresistable grace</h6>
            <small class="d-block mt-2 mb-3">Sunday 11:00 AM</small>
            <a class="btn btn-primary text-dark">Details <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-7">
      <h4 class="fw-bold text-dark">PROGRAMS & EVENTS</h4>
      <hr class="mb-5 me-auto">
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>